:root {
  /* LIGHT MODE  */
  --bodyText: #222121;
  --bodyBg: #cccccc;
  --sectionsBg: #fff;
  --accent: #0769db;
  --accentHover: #3694ff;
  --btnColor: #fff;
  --twitter: #2380ee;
  --google: #f62626;
  --github: #3b3838;
  --apple: #000000;
  --footer: #0769db;
  --footerText: #fff;
  --header: #fff;
}

.dark-theme {
  --bodyText: #fff;
  --bodyBg: #222121;
  --sectionsBg: #000;
  --accent: #0769db;
  --accentHover: #3694ff;
  --btnColor: #fff;
  --twitter: #2380ee;
  --google: #f62626;
  --github: #3b3838;
  --apple: #000000;
}

*,
::before,
::after,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* utilities */
a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 50%;
  aspect-ratio: 1/1;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bodyBg);
  color: var(--bodyText);
}

li {
  list-style: none;
}

/* main content */
header {
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  background-color: var(--header);
  position: fixed;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.logo_heading {
  font-size: 1.5rem;
  padding: 0.32rem 0.5rem;
  background-color: var(--apple);
  color: var(--btnColor);
  border-radius: 3px;
  font-weight: 700;
}

.desktop_menu {
  display: none;
}
.mobile_menu {
  background-color: var(--header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0.5px solid var(--bodyText);
}
.mobile_nav {
  position: absolute;
  top: 0%;
  right: 0;
  color: rgb(255, 220, 24);
  width: 65%;
  z-index: 1;
  display: none;
  margin-top: 4.22rem;
  padding: 1.5rem 0 2rem 0.3rem;
  background-color: var(--sectionsBg);
  box-shadow: 3px 1px 8px 4.5px rgb(0 0 0 / 20%);
}

.mobile_nav a {
  color: var(--bodyText);
  font-weight: 500;
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  display: block;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.mobile_nav li:not(:last-child) {
  border-bottom: 1px solid var(--bodyText);
}

.nav-icon {
  width: 9%;
  aspect-ratio: 1/1;
}

.showMobileNav {
  display: block;
}

/* hamburger button */
.menu_hamburger {
  width: 30px;
  height: 17px;
  z-index: 2;
  position: relative;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}
.menu_hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}
.menu_hamburger span:nth-child(1) {
  top: 0px;
}
.menu_hamburger span:nth-child(2) {
  top: 8px;
}
.menu_hamburger span:nth-child(3) {
  top: 17px;
}
.menu_hamburger.open span:nth-child(1) {
  top: 8px;
  transform: rotate(135deg);
}
.menu_hamburger.open span:nth-child(2) {
  opacity: 0;
  /* left: -60px; */
}
.menu_hamburger.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-135deg);
}

img.dark,
img.light {
  transition: all 1000ms ease;
}
img.light {
  display: none;
}

.mobile-dark,
.mobile-light {
  z-index: 3;
}

.dark img.dark {
  display: none;
}
.dark img.light {
  display: block;
}

/* footer */
.footer {
  background-color: var(--footer);
  color: var(--footerText);
  padding: 2rem;
  text-align: center;
  /* margin-top: 3rem; */
}
.footer p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 1rem auto;
  font-size: 1rem;
}
/* media queries */
@media screen and (min-width: 768px) {
  header {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
  }

  .dark,
  .light {
    cursor: pointer;
  }

  img.light {
    display: none;
  }

  .dark img.dark {
    display: none;
    transition: all 1s ease;
  }
  .dark img.light {
    display: block;
    transition: all 1s ease;
  }

  .desktop_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 0.5rem;
    background-color: var(--header);
  }

  .desktop_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    flex-grow: 1;
  }

  .desktop_menu-rside {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1.2rem;
  }
  .desktop_nav ul {
    display: flex;
    margin: 0.4rem 0;
  }
  .desktop_nav ul a {
    margin-left: 1.5rem;
    color: black;
    line-height: 1.188rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }
  .desktop_nav ul a:hover {
    color: var(--accent);
  }
  a.create_acct_btn {
    background-color: var(--accent);
    color: var(--btnColor) !important;
    padding: 0.5rem 1rem;
    border-radius: 39px;
  }
  a.create_acct_btn:hover {
    background-color: var(--accentHover);
  }

  .search_box {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .search-btn {
    display: flex;
    align-items: center;
    padding: 1.06rem;
    border: none;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
    background-image: url("./Images/desktop/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border-radius: 0 3px 3px 0;
  }

  .search_box input[type="search"] {
    border: 1px solid black;
    width: 100%;
    border-radius: 3px 0 0 3px;
    padding: 0.5rem 0.4rem;
    font-size: 1rem;
  }

  .search_box input[type="search"]::placeholder {
    color: black;
  }
  .search_box input[type="search"]:focus {
    outline: none;
  }
  .mobile_menu {
    display: none;
  }
  .footer p {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 0;
  }

  .desktop_menu {
    width: 95%;
    margin: auto;
  }

  .desktop_nav ul a {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .desktop_menu {
    width: 80%;
  }
}
