{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'formatting.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Jost:wght@500;700&family=Oxanium:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <!-- desktop menu -->
      <div class="desktop_menu">
        <div class="desktop_menu-rside">
          <div>
            <a href="{% url 'main:home' %}" class="logo_heading">Tick</a>
          </div>
          <div class="search_box">
            <input type="search" placeholder="Search.." />
            <button class="search-btn"></button>
          </div>
        </div>
        <nav class="desktop_nav">
          <img  class="dark" onclick="setTheme('dark')" style="width: 3%;" src="toggle.svg"
              alt="dark mode icon">
          <img onclick="setTheme('light')" class="light" style="width: 3%;" src="toggle.svg"
              alt="light mode icon">
                  {% if user.is_authenticated %}
              <ul>
                  
                  <li>
                    <a href="#">welcome, {{user.first_name}}
                  </li>
                  <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                  </ul>
                  {% else %}
                  
                  {% comment %} <li><a href="{% url 'accounts:login' %}">Login</a></li> {% endcomment %}
                  <li><a href="{% url 'accounts:signUp' %}" class="create_acct_btn">Create account</a></li>
                  </ul>
              {% endif %}
      </nav>
      </div>
      <!-- mobile menu -->
      <div class="mobile_menu">
        <div>
            <a href="{% url 'main:home' %}" class="logo_heading">Tick</a>
        </div>
        <img  class="dark mobile-dark" onclick="setTheme('dark')" style="width: 6%;" src="'toggle.svg"
                alt="dark mode icon">
            <img onclick="setTheme('light')" class="light mobile-light" style="width: 6%;" src="toggle.svg"
            alt="light mode icon">

        <div class="menu_hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="mobile_nav">

            <ul>
                <li><a href="{% url 'main:home' %}"><img class="nav-icon" src="{% static 'images/mobile/home.svg' %}" alt="Home icon"> Home</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/listing.svg' %}" alt="Listings icon">Listings</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/podcast.svg' %}" alt="Podcasts icon">
                        Podcasts</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/videos.svg' %}" alt="Videos icon"> Videos</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/FAQ.svg' %}" alt="FAQ icon"> FAQ</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/terms.svg' %}" alt="Terms of use icon">
                        Terms of use</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/privacy.svg' %}" alt="Privacy policy icon">
                        Privacy Policy</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/contact-us.svg' %}" alt="Contact-us icon">
                        Contact us</a></li>
                <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/about-us.svg' %}" alt="About-us icon">
                        About us</a></li>
            </ul>
        </nav>
    </div>
</header>


    <div class="container"><br>
      <div class="container__h2"><h2>Welcome to JP Blog Community</h2></div>
      <div class="container__p">
        <p>
          <span class="container__pspan"
            ><a href="#">JP blog community</a></span
          >
          is a community of amazing developers across the globe
        </p>
      </div>
      <div class="buttons">
        <div class="buttons__apple">
          <button>
            <a href="#"
              ><span><img src="{% static 'images/XMLID_229_ (2).png' %}" /></span>continue with
              apple</a
            >
          </button>
        </div>
        <div class="buttons__google">
          <button>
            <a href="#"
              ><span><img src="{% static 'images/Shape (1).png' %}" /></span>continue with
              Google</a
            >
          </button>
        </div>
        <div class="buttons__github">
          <button>
            <a href="#"
              ><span><img src="{% static 'images/Vector (7).png' %}" /></span>continue with
              Github</a
            >
          </button>
        </div>
        <div class="buttons__twitter">
          <button>
            <a href="#"
              ><span><img src="{% static 'images/Vector (6).png' %}" /></span>continue with
              Twitter</a
            >
          </button>
        </div>
      </div>

      <div class="horizontal">
        <hr />
        <div class="horizontal__text">sign up with your email address</div>
        <hr />
      </div>

      <div class="form__control">
        <form method="POST">
           {% csrf_token %}
          <div class="full">
            <label for="username">Username</label>
            <input type="text" placeholder="enter username" required name="username"/>
          </div>
          <div class="full">
            <label for="password">Email Password</label>
            <input type="password" placeholder="enter password" required  name="password"/>
          </div>
          <div class="form__checkbox">
            <input
              type="checkbox"
              name="remember-me"
              value="remember"
              id="form-check"
            />
            <span class="form__checkbox--span">Remember me</span>
          </div>

          <div class="buttons">
            <button class="buttons__continue"><a href="#">continue</a></button>
          </div>

          <div class="forgot__password">
            <a href="#">I forgot my password</a>
          </div>
        </form>
      </div>
    </div>

    <footer class="footer">
      <p>
        JP Community— A constructive and inclusive social network for software
        developers. With you every step of your journey.
      </p>
      <p>
        Built on Forem — the open source software that powers DEV and other
        inclusive communities.
      </p>
      <p>Made with love and Ruby on Rails. JP Community © 2016 - 2022.</p>
    </footer>
    <script src="{% static 'javascripts/script.js' %}" defer></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
