{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Jost:wght@500;700&family=Oxanium:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'formatting.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Jost:wght@500;700&family=Oxanium:wght@400;500;600;700&display=swap"
      rel="stylesheet"



    {% comment %} <!-- script --> {% endcomment %}
    <script src="{% static 'javascripts/script.js' %}" defer></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!-- link -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <title>Home</title>
  </head>
  <body>
   <header>
            <!-- desktop menu -->
            <div class="desktop_menu">
                <div class="desktop_menu-rside">
                    <div>
                        <a href="index.html" class="logo_heading">Tick</a>
                    </div>
                    <div class="search_box">
                        <input type="search" placeholder="Search.." />
                        <button class="search-btn"></button>
                    </div>
                </div>
                <nav class="desktop_nav">
                    <img  class="dark" onclick="setTheme('dark')" style="width: 3%;" src="{% static 'toggle.svg' %}"
                        alt="dark mode icon">
                    <img onclick="setTheme('light')" class="light" style="width: 3%;" src="{% static 'toggle.svg' %}"
                        alt="light mode icon">
                            {% if user.is_authenticated %}
                        <ul>
                            
                            <li>
                              <a href="#">welcome, {{user.first_name}}
                            </li>
                            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                            </ul>
                            {% else %}
                            
                            <li><a href="{% url 'accounts:login' %}">Login</a></li>
                            <li><a href="{% url 'accounts:signUp' %}" class="create_acct_btn">Create account</a></li>
                            </ul>
                        {% endif %}
                </nav>
            </div>
            <!-- mobile menu -->
            <div class="mobile_menu">
                <div>
                    <a href="{% url 'main:home' %}" class="logo_heading">Tick</a>
                </div>
                <img  class="dark mobile-dark" onclick="setTheme('dark')" style="width: 6%;" src="'toggle.svg"
                        alt="dark mode icon">
                    <img onclick="setTheme('light')" class="light mobile-light" style="width: 6%;" src="toggle.svg"
                    alt="light mode icon">

                <div class="menu_hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav class="mobile_nav">

                    <ul>
                        <li><a href="{% url 'main:home' %}"><img class="nav-icon" src="{% static 'images/mobile/home.svg' %}" alt="Home icon"> Home</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/listing.svg' %}" alt="Listings icon">Listings</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/podcast.svg' %}" alt="Podcasts icon">
                                Podcasts</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/videos.svg' %}" alt="Videos icon"> Videos</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/FAQ.svg' %}" alt="FAQ icon"> FAQ</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/terms.svg' %}" alt="Terms of use icon">
                                Terms of use</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/privacy.svg' %}" alt="Privacy policy icon">
                                Privacy Policy</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/contact-us.svg' %}" alt="Contact-us icon">
                                Contact us</a></li>
                        <li><a href="#"><img class="nav-icon" src="{% static 'images/mobile/about-us.svg' %}" alt="About-us icon">
                                About us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}

        {% endblock %}

    <footer class="footer">
      <p>
        Tick — A space where techies can interact with like minds and share ideas.
      </p>
      <p>
        Built with HTML, Vanilla CSS and Javascript.
      </p>
      <p>Made by Team8 - Tick. JP Community &copy; 2022.</p>
    </footer>
  </body>
</html>
