<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="shortcut icon" href="./Images/favicon.ico" type="image/x-icon" />
    <title>Error 404-page</title>
    <link rel="stylesheet" href="404-page.css">
</head>
<body>
    <main>
        <div class="error">
            <h6>Oops! Page not found</h6>
            <P>We couldn't find the page you are looking for. you can find more insightful stories on our home page.</P>

            <div class="btn">
                <button class="btn_home"><a href="index.html">Back to home</a></button>
            </div>

            <div class="ErrorImage">
                <img src="images/error 404.svg" alt="error">
            </div>
        </div>
    </main>
    
</body>
</html>