:root {
	/* LIGHT MODE  */
	--bodyText: #222121;
	--bodyBg: #cccccc;
	--sectionsBg: #fff;
	--header: #fff;
	--accent: #0769db;
	--accentHover: #3694ff;
	--btnColor: #fff;
	--footer: #2380ee;
	--footerText: #fff;
	--twitter: #2380ee;
	--google: #f62626;
	--github: #3b3838;
	--apple: #000000;
}

:root.dark {
	--bodyText: #fff;
	--bodyBg: #222121;
	--sectionsBg: #282828;
	--header: #fff;
	--accent: #0769db;
	--accentHover: #3694ff;
	--btnColor: #fff;
	--footer: #fff;
	--footerText: #000;
	--twitter: #2380ee;
	--google: #f62626;
	--github: #3b3838;
	--apple: #000000;
}

*,
::before,
::after,
li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* utilities */
a {
	text-decoration: none;
	color: inherit;
}

.icon {
	width: 50%;
	aspect-ratio: 1/1;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--bodyBg);
	color: var(--bodyText);
}

li {
	list-style: none;
}

/* main content */
header {
	font-family: "Jost", sans-serif;
	font-size: 0.9rem;
	background-color: var(--header);
	position: sticky;
	top: 0;
}

.logo_heading {
	font-size: 1.5rem;
	padding: 0.32rem 0.5rem;
	background-color: var(--apple);
	color: var(--btnColor);
	border-radius: 3px;
	font-weight: 700;
}

.desktop_menu {
	display: none;
}
.mobile_menu {
	background-color: var(--header);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 0.5px solid var(--bodyText);
}
.mobile_nav {
	position: absolute;
	top: 0%;
	right: 0;
	color: rgb(255, 220, 24);
	width: 65%;
	z-index: 1;
	display: none;
	margin-top: 4.22rem;
	padding: 1.5rem 0 2rem 0.3rem;
	background-color: var(--sectionsBg);
	box-shadow: 3px 1px 8px 4.5px rgb(0 0 0 / 20%);
}

.mobile_nav a {
	color: var(--bodyText);
	font-weight: 500;
	padding: 0.8rem 1rem 0.8rem 1.5rem;
	display: block;
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.mobile_nav li:not(:last-child) {
	border-bottom: 1px solid var(--bodyText);
}

.nav-icon {
	width: 9%;
	aspect-ratio: 1/1;
}

.showMobileNav {
	display: block;
}

/* hamburger button */
.menu_hamburger {
	width: 30px;
	height: 17px;
	z-index: 2;
	position: relative;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
	cursor: pointer;
}
.menu_hamburger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
}
.menu_hamburger span:nth-child(1) {
	top: 0px;
}
.menu_hamburger span:nth-child(2) {
	top: 8px;
}
.menu_hamburger span:nth-child(3) {
	top: 17px;
}
.menu_hamburger.open span:nth-child(1) {
	top: 8px;
	transform: rotate(135deg);
}
.menu_hamburger.open span:nth-child(2) {
	opacity: 0;
	/* left: -60px; */
}
.menu_hamburger.open span:nth-child(3) {
	top: 8px;
	transform: rotate(-135deg);
}

img.light {
	display: none;
}

.mobile-dark,
.mobile-light {
	z-index: 3;
}

.dark img.dark {
	display: none;
}
.dark img.light {
	display: block;
}

/* main section */

.left-aside-container,
.right-aside-container {
	display: none;
}

.article-nav {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--sectionsBg);
}

.dark .article-nav {
	border-bottom: 1px solid var(--header);
}

.article-nav a {
	margin-right: 1.2rem;
	padding: 0.5rem;
	font-size: 1.125rem;
}

.article-nav__active,
.pagination-active {
	font-weight: 900;
}

article {
	background-color: var(--sectionsBg);
	color: var(--bodyText);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 0.5rem;
	padding: 1rem;
	box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
	border-radius: 3px;
	margin-bottom: 0.4rem;
}

.author-details {
	display: flex;
	gap: 0.5rem;
}

.article__left-side {
	width: 14%;
}

.article-img {
	width: 100%;
	border-radius: 80px;
	object-fit: cover;
	aspect-ratio: 1/1;
	border: 2px solid var(--accentHover);
}

.article__author-name-date {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.author-name,
.article-tags {
	font-size: 0.875rem;
	font-weight: 500;
}

.date {
	font-size: 0.75rem;
	align-items: flex-end;
	
}

.article-title {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.2rem;
}

.article-heading {
	font-weight: 600;
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
}

.article-tags {
	display: flex;
	gap: 0.5rem;
	color: rgba(var(--bodyText), 0.05);
}

.article-tags a {
	padding: 0.4rem;
}

.article-engagement,
.left__article-engagement,
.right__article-engagement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.875rem;
}

.left__article-engagement {
	justify-content: flex-start;
}

.article-engagement {
	justify-content: flex-start;
}

.left__article-engagement a {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-weight: normal;
	width: 20%;
	margin-right: 1rem;
}

svg {
	aspect-ratio: 1/1;
}

.like,
.comment {
	width: 45%;
}

.like {
	fill: red;
	stroke: red;
}

.save {
	width: 21%;
	fill: var(--bodyText);
	stroke: var(--bodyText);
}

.article-engagement a:focus {
	outline: none;
}

.desktop-engagement-details {
	display: none;
}

.right__article-engagement {
	justify-content: flex-end;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	font-size: 0.875rem;
	padding: 1rem 1rem 1rem 0;
	background-color: var(--sectionsBg);
}

.pagination a:not(:last-child, :first-child) {
	border: 1px solid var(--bodyText);
	padding: 0.5rem 0.8rem;
	border-radius: 0.3rem;
	font-weight: 500;
}

.pagination a:last-child {
	font-weight: 500;
}

.footer {
	background-color: var(--footer);
	color: var(--footerText);
	padding: 2rem;
	text-align: center;
	margin-top: 3rem;
}
.footer p {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	margin: 1rem auto;
	font-size: 1rem;
}

/* media queries */
@media screen and (min-width: 768px) {
	.container {
		display: flex;
		gap: 1rem;
	}

	.main-container {
		margin-right: 1.2rem;
	}

	header {
		font-family: "Jost", sans-serif;
		font-size: 1rem;
		padding: 0 1rem;
	}

	.dark img,
	.light img {
		cursor: pointer;
	}

	img.light {
		display: none;
	}

	.dark img.dark {
		display: none;
		transition: all 1s ease;
	}
	.dark img.light {
		display: block;
		transition: all 1s ease;
	}

	.desktop_menu {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 1rem 0;
		margin: 0 0.5rem;
		background-color: var(--header);
	}

	.desktop_nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-align: right;
		flex-grow: 1;
	}

	.desktop_menu-rside {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 1.2rem;
	}
	.desktop_nav ul {
		display: flex;
		margin: 0.4rem 0;
	}
	.desktop_nav ul a {
		margin-left: 1.5rem;
		color: black;
		line-height: 1.188rem;
		font-weight: 600;
		font-family: "Inter", sans-serif;
	}
	.desktop_nav ul a:hover {
		color: var(--accent);
	}
	a.create_acct_btn {
		background-color: var(--accent);
		color: var(--btnColor) !important;
		padding: 0.5rem 1rem;
		border-radius: 39px;
	}
	a.create_acct_btn:hover {
		background-color: var(--accentHover);
	}

	.search_box {
		display: flex;
		align-items: center;
		width: 60%;
	}

	.search-btn {
		display: flex;
		align-items: center;
		padding: 1.06rem;
		border: none;
		border: 1px solid black;
		border-left: none;
		cursor: pointer;
		background-image: url("./Images/desktop/search.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 55%;
		border-radius: 0 3px 3px 0;
	}

	.search_box input[type="search"] {
		border: 1px solid black;
		width: 100%;
		border-radius: 3px 0 0 3px;
		padding: 0.5rem 0.4rem;
		font-size: 1rem;
	}

	.search_box input[type="search"]::placeholder {
		color: black;
	}
	.search_box input[type="search"]:focus {
		outline: none;
	}
	.mobile_menu {
		display: none;
	}

	.author-name {
		font-size: 1rem;
		font-weight: 500;
	}

	.date {
		font-size: 0.875rem;
	}
	.article__left-side {
		width: 10%;
	}

	.article__author-name-date {
		justify-content: space-around;
	}

	.mobile-engagement-details {
		display: none;
	}
	.desktop-engagement-details {
		display: flex;
		align-items: center;
	}

	.left__article-engagement a {
		width: 50%;
	}

	.left__article-engagement a:nth-child(1) {
		width: 25%;
		margin-right: 2rem;
	}

	.like {
		width: 23%;
	}

	.comment {
		width: 11%;
	}

	.save {
		width: 16%;
	}
	.aside-icon {
		aspect-ratio: 1/1;
		width: 8%;
	}

	.left-aside-container {
		/* display: flex;
		flex-direction: column; */
		display: grid;
		grid-template-rows: auto repeat(20, 1fr);
		margin: 3.3rem 0 0 1rem;
	}

	.create-acct-btn {
		background-color: var(--accent);
		padding: 0.5rem 1rem;
		border: none;
		margin: auto;
		color: var(--btnColor);
		font-size: 0.875rem;
		font-weight: 700;
		border-radius: 5rem;
		cursor: pointer;
	}

	.create-acct-btn:hover {
		background-color: var(--accentHover);
	}

	.left-aside__top-content,
	.aside-nav {
		width: 95%;
		margin: 0 auto;
		padding: 2rem 1.2rem;
		background-color: var(--sectionsBg);
	}

	.left-aside__top-content {
		display: flex;
		flex-direction: column;
		gap: 0.9rem;
		text-align: center;
		box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
	}

	.left-aside__top-content p {
		font-weight: 500;
	}

	.left-aside__top-content-login {
		font-weight: 600;
		width: fit-content;
		margin: auto;
		padding: 0.2rem;
		border-bottom: 2px solid var(--accent);
	}

	.left-aside__top-content-login:hover {
		color: var(--accent);
		border-bottom: 2px solid var(--accentHover);
	}

	.aside-nav {
		margin-top: 1.5rem;
		padding: 1rem 0;
		grid-row: 2/18;
	}

	.left-aside__nav-links a {
		display: flex;
		font-size: 0.875rem;
		font-weight: 600;
		padding: 1.2rem;
		gap: 0.5rem;
		align-items: center;
	}

	.left-aside__nav-links a:hover {
		color: rgb(73, 73, 73);
	}
}

@media screen and (min-width: 1024px) {
	.container,
	.desktop_menu {
		width: 95%;
		margin: auto;
	}

	header {
		padding: 0;
	}
	.desktop_nav ul a {
		margin-left: 2rem;
	}

	.like {
		width: 19%;
	}

	.comment {
		width: 9%;
	}

	.save {
		width: 12%;
	}

	.left-aside__top-content,
	.aside-nav {
		width: 100%;
	}

	.left-aside-container {
		margin: 3.3rem 0 0 0rem;
	}

	.main-container {
		margin-right: 0;
	}

	.right-aside-container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin-top: 3.3rem;
	}

	.survey {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
		font-weight: 600;
		background-color: var(--sectionsBg);
		padding: 2rem 1.2rem;
		box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
	}

	.survey p {
		padding: 0 1rem;
	}

	.survey a {
		color: var(--accent);
		border-bottom: 2px solid var(--accent);
		width: fit-content;
		margin: auto;
	}

	.survey a:hover {
		color: var(--accentHover);
		border-bottom: 2px solid var(--accentHover);
	}

	.trending {
		display: flex;
		flex-direction: column;
		gap: 1.7rem;
		font-weight: 600;
		background-color: var(--sectionsBg);
		padding: 2rem 1.2rem 2.5rem 1.2rem;
	}

	.trending__text-content {
		display: flex;
		flex-direction: column;
	}

	.trending a:nth-of-type(1) {
		margin-bottom: 0.6rem;
	}
	.trending a:nth-of-type(2) {
		color: var(--bodyText);
		opacity: 0.5;
	}
}

@media screen and (min-width: 1440px) {
	.container,
	.desktop_menu {
		width: 80%;
	}

	.left-aside-container {
		width: 35%;
	}
}
