{% extends 'global.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <form  class="form-control" method="Post">
            <h1 align="center">Create New Post</h1>
            {% csrf_token %}
            {{form.as_p}}
            {{form.media}}
            <button class="btn btn-primary">Post</button>    
       <script> 
        var name="{{object.id}}";
        name= document.getElementById("author").value;
       </script>
       {% else %}
       <h3> you are not allowed to make a post unless you logged In </h3>

       {% endif %}
{% endblock %}












    
    